<main
  style="
    padding: 10px;
    background-color: var(--background);
    width: 100%;
    height: 100%;
  "
>
  <mat-card
    style="
      background-color: var(--header);
      align-self: center;
      margin-bottom: 10px;
    "
  >
    <mat-card-header><h2>parser</h2></mat-card-header>
    <mat-card-subtitle>lets crunch our numbers</mat-card-subtitle>
    <mat-card-content
      ><input
        #fileInput
        type="file"
        name=""
        id=""
        (change)="getINGfile($event)"
      />
    </mat-card-content>
  </mat-card>

  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile colspan="1">
      <mat-card
        style="background-color: var(--subHeader); width: 100%; height: 100%"
      >
        <mat-card-header><h2>total info</h2></mat-card-header>
        <mat-card-subtitle>total mony = {{ totalMonny }} </mat-card-subtitle>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-card
        style="background-color: var(--subHeader); width: 100%; height: 100%"
      >
        <mat-card-header><h2>Montly</h2></mat-card-header>
        <mat-card-subtitle> </mat-card-subtitle>
        <mat-card-content>
          <mat-button-toggle class="button" (click)="getMonts()"
            >get months</mat-button-toggle
          >
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <
  </mat-grid-list>
</main>

<router-outlet></router-outlet>
